li
{
vertical-align:middle;
text-align:center; 


}
h1{
	font-size:2.5em;
		
}
.navbar-default{
	background-color:pink;

}
p{
	font-size:18px;
	width:95%;
	margin:2.5%;
	background-color:rgb(196, 238, 242);
}
.navbar-default .navbar-brand {
	color:black;
	font-size:30px;
	font-weight:bold;
}
.navbar-default .navbar-nav>li>a:hover {
	color:blue;
		}
		.navbar-default .navbar-nav>li>a:link{
			font-weight:bold;
			font-size:20px;
			color:red;
		}